body {
	font-family: sans-serif;
	background: #f4f4f4;
	display: flex;
	justify-content: center;
	padding: 50px;
}

#container {
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 350px;
}

h1 {
	text-align: center;
	color: #333;
}

#input-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

input {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

button {
	padding: 10px;
	background: #28a745;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
}

#total-box {
	margin-bottom: 15px;
	font-size: 18px;
	color: #333;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	background: #eee;
	margin-bottom: 8px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	border-radius: 4px;
	align-items: center;
}

#btn-hapus {
	background: #dc3545;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12px;
}
