body {
	height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	gap: 50px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.item {
	background-color: aquamarine;
	height: 100px;
	width: 100px;
}
